body {
    margin: 0%;
    text-align: center;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}


.inn-cloud {
    position: relative;
}

.bottom-cloud {
    position: absolute;
    left: 20px;

}

.inn-mountain {
    display: block;
    align-items: center;
}

.top-cloud {
    position: absolute;
    right: 30px;
    margin-bottom: 800px;
}

h1{
    margin: 10px;
    color: #66BFBF;
    font-family: Apple Chancery, cursive;
}

h2 {
    color: #66BFBF;

}

h3 {
    color: #66BFBF;

}

p {
    color: #40514E;
}
.middle-container{position: relative;}
    /*

.target{
    float: left;
    margin-bottom: 20px;
    margin-right: 30px;
}
.stars{
    float: right;
    margin-left: 30px;
    padding-left: 30px;
}
*/

.last-container {
    background-color: #66BFBF;
    margin: 0 0 0 0;
    padding: 30px;
}

.least {
    color: #EAF6F6;
}

.btn {
    border: 0;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #66BFBf;
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));

}

.btn:hover {
    color: aquamarine;
}
.skill-row{position: absolute;
    margin:0%;
    text-align: left;
    line-height: 2;

}


